{{#if isAll}}
    <div class="list-tips">
        暂无更多数据
    </div>
{{else}}
    {{#each user_list}}
        <div class="join-member-item">
            <div class="item-top">
                <div class="avatar">
                    <img class="img" src="{{photo}}" alt="">
                </div>
                <div class="info">
                    <div class="name">
                        {{nickname}}
                    </div>
                    <div class="join-time">
                        加入时间 <span>{{created}}</span>
                    </div>
                </div>
                <div class="handler">
                    {{#if isMyReply}}
                    <span class="red">你提交了异常</span>
                    {{else if (eq statusException 1)}}
                    <span class="red">参与人上报了你的异常</span>
                    {{else if statusException}}
                    <span>异常</span>
                    {{/if}}
                </div>
            </div>
            <div class="item-content">
                <div class="material-list material-url-box">
                {{#if urls.total}}
                    {{#each urls.list}}
                    <div class="list-item">
                        <div class="create-time">
                            {{#if ownerTag}}创建人于{{/if}} {{created}}
                        </div>
                        <div class="material-url-item">
                            <a href="{{url}}" target="_blank">{{url}}</a>
                        </div>
                    </div>
                    {{/each}}
                    {{else}}
                    <div class="no-material-text" style="width: 100%;">
                        参与人尚未提交素材
                    </div>
                    {{/if}}
                </div>
            </div>
            <div class="material-handler-content help-submit-form">
                <div class="material-input-box">
                    <div class="material-input-item">
                        <input class="input material-input" placeholder="请输入链接URL"></input>
                    </div>
                </div>
                <div class="material-submit-status"></div>
                <div class="add-new-btn-box">
                    <a href="javascript:;" class="add-new-material-input">+ 新增</a>
                    <button class="button small rounded help-submit-material-button" data-gongdan-id="{{gongdanId}}" data-task-id="{{id}}">提交</button>
                </div>
            </div>
            {{#if exception}}
            <div class="material-handler-content reply-excep-form">
                <div class="material-input-box">
                    <div class="material-input-item">
                        对方上报了你的异常：{{excep.url}}
                    </div>
                    <div class="material-input-item material-list-excep-reply-box">
                        请在 <span class="material-list-excep-reply-time"></span> 内回复
                    </div>
                </div>
                <div class="material-input-box">
                    <div class="material-input-item">
                        <input class="input material-input reply-excep-material-message" placeholder="请输入异常说明"></input>
                    </div>
                </div>
                <div class="material-submit-status"></div>
                <div class="add-new-btn-box">
                    <span>&nbsp;</span>
                    <button class="button small rounded reply-excep-material-button" data-gongdan-id="{{gongdanId}}" data-task-id="{{id}}" {{#if excep}} data-excep-id="{{excep.id}}" {{/if}}>提交</button>
                </div>
            </div>
            {{/if}}
            <div class="item-footer">
                <a href="javascript:;" class="help-add-new-material-input">+ 协助提交素材</a>
                <div class="status-buttons">
                    {{#if (and (eq statusException 0) (not (eq status 5)) (not (eq status 3)))}}
                    <button class="button small rounded help-report-material-button" data-gongdan-id="{{gongdanId}}" data-task-id="{{id}}" data-user-id="{{user}}">报告异常</button>
                    {{/if}}
                    {{#unless urls.total}}
                    <div class="status-text">等待提交</div>
                    {{else if (eq statusException 2)}}
                        {{#if (eq excep.type 0)}}
                        <div class="status-text">你更新了异常情况</div>
                        {{else}}
                        <div class="status-text">对方更新了异常情况</div>
                        {{/if}}
                    {{/unless}}
                    {{#if (eq status 4)}}
                    <div class="status-text">审核不通过</div>
                    {{/if}}
                    {{#if isMyReply}}
                    <button class="button small rounded help-show-report-button" data-user-id="{{user}}" data-gongdan-id="{{gongdanId}}" data-task-id="{{id}}" data-excep-status="{{statusException}}">查看异常</button>
                    {{else}}
                        {{#if (eq statusException 1)}}
                        <button class="button small rounded handle-reply-show-btn" {{#if excep}} data-end-time="{{excep.timeToReplay}}" {{/if}}>处理异常</button>
                        {{/if}}
                    {{/if}}

                    {{#unless isMyReply}}
                        {{#if (eq status 2)}}
                        <button class="button small rounded nopass-material-btn" data-task-id="{{id}}">不通过</button>
                        <button class="button small rounded pass-material-btn" data-task-id="{{id}}">审核通过</button>
                        {{/if}}
                        {{#if (eq status 3)}}
                        <button class="button small rounded feedback-material-btn" data-gongdan-id="{{gongdanId}}" data-user-id="{{user}}" data-id="{{id}}">已审核 请反馈</button>
                        {{/if}}
                        {{#if isFeedback}}
                        <button class="button small rounded show-feedback-material-btn" data-gongdan-id="{{gongdanId}}" data-user-id="{{user}}" data-id="{{id}}">查看反馈</button>
                        {{/if}}
                    {{/unless}}
                </div>
            </div>
        </div>
    {{/each}}
{{/if}}
