<div class="sku-item">
    <div class="sku-img">
        <img class="img" src="{{sku.skuPic}}" alt="">
    </div>
    <div class="sku-info">
        <div class="sku-top">
            <div class="sku-title">
                {{sku.skuName}}
            </div>
            <div class="sku-sales">
                <span>总交易额 {{#if sku.money}}{{sku.money}}{{else}}0{{/if}}</span>
                    <span>纠纷率 {{#if sku.excepNum}}{{sku.excepNum}}{{else}}0{{/if}}%</span>
                {{!-- <span>关联工单 1</span> --}}
            </div>
        </div>
        <div class="sku-bottom">
            <div class="sku-tags">
                {{#each skuTezheng}}
                <div class="tag">
                    {{tz}} {{tzDetail}}
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
