<div class="work-sku-detail">
    <div class="work-sku-title">
        {{detail.skuName}}
    </div>

    <div class="work-sku-content">
        <div class="sku-cover">
            <img class="img" src="{{detail.skuPic}}" alt="">
        </div>

        <div class="sku-section">
            <div class="sku-id">
                #{{detail.uuid}}
            </div>
            <div class="sku-sales">
                <span>总交易额 {{#if detail.money}}{{detail.money}}{{else}}0{{/if}}</span>
                <span>纠纷率 {{#if detail.excepNum}}{{detail.excepNum}}{{else}}0{{/if}}%</span>
                {{!-- <span>关联工单 1</span> --}}
            </div>

            <div class="section-title">
                全部权重
            </div>
            <div class="sku-tags">
                {{#each tezheng}}
                <div class="tag">
                    {{tz}} {{tzDetail}}
                </div>
                {{/each}}
            </div>
        </div>

        <div class="sku-img-list">
            {{#each detail.skuUrl}}
            <img class="img" src="{{this}}" alt="">
            {{/each}}
        </div>
    </div>

</div>
